.logo
  font-size 2.3em
  height 3.3em
  display flex
  justify-content center
  align-items center
  background #0059
  color white
  font-style italic
  box-shadow 0 0 5px 2px blue
  font-variant small-caps

nav
  background #fff9
  padding 0.5em 0

  a
    font-weight bold
    text-decoration none
    margin-right 2em
    padding 0 0.5em
    font-size 1.4em
    color blue
    border transparent solid 1px

  a:hover
    text-decoration underline

  .active
    background lightblue
    border-radius 5px
    //border blue solid 1px
    box-shadow 0 0 5px blue
