.blog-grid
  margin 2vmin
  display grid
  grid-template-columns 1fr
  grid-gap 3vmin

@media (min-width 500px)
  .blog-grid
    grid-template-columns 1fr 1fr

@media (min-width 800px)
  .blog-grid
    grid-template-columns 1fr 1fr 1fr

.item
  background #fffc
  padding 2vmin
